{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<div class="header">
  <h1>KU Polls</h1>
  <p><b> “The vote is precious. It is the most powerful non-violent tool we have in a democratic society, and we must use it.”
— John Lewis</b></p>
</div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <p>
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <td><a href="{% url 'polls:results' question.id %}">
            <button type="button">{{"Results"}}</button></a></td>&emsp;
            <!-- Show the vote button if can_vote is true for each question -->
            {% if question.can_vote%}
                <td><a href="{% url 'polls:detail' question.id %}">
                <button type="button">{{"Vote"}}</button></a></td>
            {% endif %}
             <!-- Show the vote button part end here -->
        </p>
    {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</head>
</html>
